*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 1410vh;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}
.container{
    padding-top: 150px;
    width: 429px;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}
.second-page{
    padding-top: 71px;
}
.logo-left{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-align: left;
    padding-top: 24px;
    /* padding-left: 32px; */
}
.left-side{
    padding-right: 130px;
    padding-left: 124px;
}
.register-link{
    text-decoration: none;
    color: rgb(26, 26, 170);
}
.inputs{
    height: 35px;
    border: none;
    border-bottom: 2px solid #6c39f7;
    font-size: 20px;
}
input:focus{
    outline: none ;
}
.email{
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.575);
    padding-bottom: 20px;
}
.password{
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.637);
    padding-bottom: 20px;
}
.username{
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.637);
    padding-bottom: 20px;
} 
.con-password{
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.637);
}
.right-side{
    margin-top: 10px;
    background-color: #000842;
    border-radius: 15px;
    width: 735px;
    height: 800px;

}
.remember-me-section{
    display: flex;
    justify-content: space-between;
}
.btn-login{
    height: 53;
    text-align: center;
    background-color: blue;
    color: #fff;
    padding: 14px 191px;
    display: inline-block;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    text-decoration: none;
}
.login-btn{
    margin: 60px 0 39px;

}
.continue-text{
    text-align: center;
}
.f-a-g{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 40px;
}
.image-section{
    padding-left: 123px;
    padding-bottom: 84px;
    /* padding: 85px 91px 84px 123px;  */
}
.sign-in{
    padding-bottom: 22px;
}
.sign-title{
    padding: 0 323px 0 98px;
    color: #fff;
}
.sign-in-title{
    font-weight: 314px;
    font-size: 35px;
    line-height: 60px;
   
}
.paragraph-tel{
    text-align:end ;
    padding-top: 24px;
    padding-right: 32px;
    color: #fff;
}